body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.navbar-brand {
  font-size: 35px;
}

.nav-link {
  font-size: 20px;
  color: black;
  padding: 5px;
}

/* halaman dashboard */
.card-container {
  padding-top: 64px;
  padding-left: 15px;
}
.card {
  width: 300px;
  height: 170px;
  border-radius: 20px;
}

.card-text-container {
  padding-top: 17px;
}
.card-text {
  font-size: 25px;
}
.chart-js {
  padding-top: 35px;
}
.dropstart {
  cursor: pointer;
}

/* halaman login */

.logo-login {
  padding-top: 45px;
  text-align: center;
}

.card-login {
  width: 550px;
  height: 440px;
}

.card-title {
  text-align: center;
}
.card-login-h1 {
  font-size: 32px;
  padding-top: 32px;
}

.card-login-p {
  font-size: 25px;
}

.card-login-text-p {
  font-size: 24px;
  color: #808080;
  padding-top: 44px;
  text-align: center;
}

.btn-login {
  width: 245px;
  height: 40px;
}

.button-login {
  padding-top: 20px;
}
